body {
    background-color: #161853;
    color:#F5F5F5;
    padding: 20px;
    font-family: 'Fredoka One', cursive;
}
#lyricsdiv, #basicinfo, #backgrounddiv {
    background-color: #F05454;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    margin: 10px;
}
input {
    width: 80%;
    margin-bottom: 10px;
    background-color: #F5F5F5;
    
}
label {
    display: flex;
    justify-content: center;
}
button {
    color: #F5F5F5;
    background-color: #F05454;
    border: none;
    font-family: 'Fredoka One', cursive;
    border-radius: 25%;
    padding: 10px;
}
form {
    display: flexbox;
    justify-content: center;
}
pre, #formdiv, #innerdiv, li {
    background-color: #121212;
    margin: 10px;
    border-radius: 25px;
    padding: 10px;
}
#innerdiv {
    opacity: 50%;
}
.flexthis {
    display: flex;
    align-items: flex-start;
}
ul {
    list-style-type: none;
    padding: 0em;
}
pre {
    font-family: 'Fredoka One', cursive;
}
.frontpage {
    width: 25%;
    min-width: 300px;
}