<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet"> 
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Song-A-Tiel</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="backgrounddiv" class="frontpage">

            <div id="titlediv">
                <h1>Song-A-Tiel</h1>
            <h3>Find your music!</h3>
            </div>
            
            <form action="/results/" method="get">
                    <div id="formdiv">
                        <label for="song">Song</label>
                        <input name="song">
                        <br>
                        <label for="album">Album</label>
                        <input name="album">
                        <br>
                        <label for="artist">Artist</label>
                        <input name="artist">
                        <br>
                        <button>Search</button>
                        <button type="reset">Clear</button>
                    </div>
            </form>
        </div>
        
        <!-- <script src="" async defer></script> -->
    </body>
</html>