<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Song Results - Song-A-Tiel</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <form action="/">
            <button>Do another search</button>
        </form>
        <h1>Song Results</h1>
        <div>
            <h2>{{song}} by {{artist}}</h2>
            <h3>On the album {{album}}</h3>
            <p>Released on {{release_date}}</p>
            <p>Duration: {{length}}</p>
        </div>
        <div>
            <h3>Lyrics</h3>
            <pre>{{lyrics}}</pre>
        </div>
        <div>
            <h3>Related Songs</h3>
            {% for rel_song, rel_artists in related_songs.items() %}
                <h4>{{rel_song}}</h4>
                <h5>by {{ rel_artists|join(' and ') }}</h5>
            {% endfor %}
        </div>
        <script src="" async defer></script>
    </body>
</html>